<div class="bg">
    <div class="p-3">
        <span class='text-dark logo'>FOX<span class="text-light logo">NOON</span> </span>
        <div class="container-fluid p-0">
            <h5 class="mt-5"> {{ user }}</h5>
        </div>

        <ul>
            <li>
                <a routerLink='/dashboard' routerLinkActive="active"><i class="fas fa-columns"></i>&nbsp;Dashboard</a>
            </li>
            <li>
                <a routerLink='/inventory' routerLinkActive='active'><i class="fas fa-pallet"></i>&nbsp;Inventory</a>
            </li>
            <li>
                <a routerLink='/orders' routerLinkActive='active'><i class="fas fa-shopping-bag"></i>&nbsp;orders</a>
            </li>
            <li>
                <a routerLink='/earnings' routerLinkActive='active'><i class="fas fa-money-bill-alt"></i>&nbsp;Earnings</a>
            </li>
            <li>
                <a routerLink='/settings' routerLinkActive='active'><i class="fas fa-user-cog"></i>&nbsp;Settings</a>
            </li>
           
            <li class="mt-5"> 
                <a routerLink='/logout' routerLinkActive='active'><i class="fas fa-sign-out-alt"></i>&nbsp;Log Out</a>
            </li>
            <!-- <a routerLink="/dashboard" routerLinkActive="active"><li><span><i class="fas fa-columns"></i>&nbsp;Dashboard</span></li></a>
            <a routerLink="/inventory" routerLinkActive="active"><li><p><i class="fas fa-pallet"></i>&nbsp;Inventory</p></li></a>
            <a routerLink="/orders" routerLinkActive="active"><li><p><i class="fas fa-shopping-bag"></i>&nbsp;Orders</p></li></a>
            <a routerLink="/earnings" routerLinkActive="active"><li><p><i class="fas fa-money-bill-alt"></i>&nbsp;Earnings</p></li></a>
            <a routerLink="/settings"><li><p> <i class="fas fa-user-cog"></i>&nbsp;Settings</p></li></a>
            <a routerLink="/logout"><li class="mt-5"><p><i class="fas fa-sign-out-alt"></i>&nbsp;Log Out</p></li></a> -->
        </ul>
    </div>
</div>